html,body {
    height: 100vh;
    color: black;
    /* background: url('/assets/contact/bg.jpg') no-repeat top right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.underline{
    padding-bottom: 3px;
    border-bottom: 1.5px solid black;
}

input{
  width: 100%;
  text-transform: uppercase;
}

textarea{
    height:200px;
    width: 100%;
    margin-top: 5%;
    text-transform: uppercase;
}

.submit {
    width: 25%;
}

.washand {
    position: absolute;
    top: 0;
    right: 0;
}

.contact-wrapper {
    margin: 15px 0 15px 0;
}

@media screen and (max-height: 320px) {

    textarea{
        height: 50px;
        width: 100%;
    }
}

@media (min-width: 576px) {

    textarea{
        height: 75px;
        width: 100%;
    }
}

@media (min-width: 768px) {
    textarea{
        height: 100px;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .contact-wrapper {
        margin: 0;
    }

}

@media (min-width: 1200px) {
    .washand {
        padding-right: 30px;
    }
}

@media (min-width: 1500px) {

}
