@font-face {
    font-family: 'Lilian';
    src: url('/fonts/lilian.eot');
    src: local('â˜º'),
         url('/fonts/lilian.woff') format('woff'),
         url('/fonts/lilian.ttf') format('truetype'),
         url('/fonts/lilian.svg') format('svg');
}

h2, .h2 {
    font-size: 1.5rem;
}

.master-container {
    width: 100vw;
    padding: 0;
    margin: 0;
}

.full-view{
  width: 100vw;
  /* height: 100vh; */
}

.display-none{
  display: none;
}

html,body{
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Lilian !important;
  text-transform: uppercase;
}

.a, p, h1, h2, div, span {
    font-family: Lilian !important;
}

.about-menu > a, .cv-menu > a, .news-menu > a {
    margin-bottom: 5px;
}

a, a:hover {
    color: black;
}

a:hover, .active {
    text-decoration: none;
}

.active {
    border-bottom: 2px black solid;
    font-weight: 600;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.no-padding-margin {
    padding: 0;
    margin: 0;
}

.master-container {
    padding: 25px;
}

.back-button {
    font-weight: bold;
    margin-top: 5%;
}

.about-menu, .cv-menu, .news-menu {
    font-size: 1em;
    padding: 0;
}

.visual-description-wrapper > p > strong, .writing-description-wrapper > h2 {
    font-size: 1em;
}

.visual-description-wrapper > p, .writing-wrapper, .writing-description-wrapper {
    font-size: 0.9em;
}

.visual-wrapper, .writing-wrapper {
    padding: 0;
}

@media (min-width: 576px) {
    .about-menu, .cv-menu, .news-menu {
        font-size: 1.15em;
    }

    .visual-description-wrapper > p > strong, .writing-description-wrapper > h2 {
        font-size: 1.15em;
    }

    .visual-description-wrapper > p, .writing-wrapper, .writing-description-wrapper {
        font-size: 0.9em;
    }

    .visual-wrapper, .writing-wrapper {
        padding: 0;
    }

}

@media (min-width: 768px) {

    .about-menu, .cv-menu, .news-menu {
        font-size: 1.35em;
    }

    .visual-description-wrapper > p > strong, .writing-description-wrapper > h2 {
        font-size: 1.35em;
    }

    .visual-description-wrapper > p, .writing-wrapper, .writing-description-wrapper {
        font-size: 1.10em;
    }

    .master-container {
        padding: 40px
    }

    .visual-wrapper, .writing-wrapper {
        padding: 0;
    }

}

@media (min-width: 992px) {

    .about-menu, .cv-menu, .news-menu {
        font-size: 1.25em;
    }

    .visual-description-wrapper > p > strong, .writing-description-wrapper > h2 {
        font-size: 1.25em;
    }

    .visual-description-wrapper > p, .writing-wrapper, .writing-description-wrapper {
        font-size: 1em;
    }

    .visual-wrapper, .writing-wrapper {
        padding: 0;
    }

}

@media (min-width: 1200px) {

    .master-container {
        padding: 60px
    }

    .visual-wrapper, .writing-wrapper {
        padding: 0 30px 0 30px;
    }

    .visual-description-wrapper > p > strong, .writing-description-wrapper > h2 {
        font-size: 1.25em;
    }

    .visual-description-wrapper > p, .writing-wrapper, .writing-description-wrapper {
        font-size: 1em;
    }

    .about-menu, .cv-menu, .news-menu {
        font-size: 1.25em;
    }
}

@media (min-width: 1500px) {

    .about-menu, .cv-menu, .news-menu {
        font-size: 1.5em;
    }

    .master-container {
        padding: 80px
    }

    .visual-wrapper, .writing-wrapper {
        padding: 0 40px 0 40px;
    }

    .visual-description-wrapper > p > strong, .writing-description-wrapper > h2 {
        font-size: 1.4em;
    }

    .visual-description-wrapper > p, .writing-wrapper, .writing-description-wrapper {
        font-size: 1.25em;
    }

}
